<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Informações</title>
<link rel="stylesheet" th:href="@{~/css/dropify.min.css}" />
<link rel="stylesheet" th:href="@{~/css/all.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row -->
					<div class="row">

						<!-- div 1 -->
						<div class="col-lg-12 d-flex align-items-stretch grid-margin">
							<!-- row -->
							<div class="row flex-grow">
								<div class="col-12 grid-margin">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
											<li class="breadcrumb-item"><a
												th:href="@{/dashboard/admin/eventos/presencial}">Eventos
													Presenciais</a></li>
											<li class="breadcrumb-item active" aria-current="page"><span
												th:text="${evento.titulo}"></span></li>
										</ol>
									</nav>
								</div>

								<div class="col-12 grid-margin" th:if="${alert != null}">
									<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i> <span
												th:text="${message}"></span>
											<button type="button" class="close" data-dismiss="alert"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
									</div>
								</div>

								<div class="col-lg-12" th:if="${usuario.podeAlterar('eventosPresenciais') or usuario.podeAlterar('tudo')}">
									<ul class="nav justify-content-end">
										
										<li class="nav-item"><a class="nav-link" href="#"
											data-toggle="modal" data-target="#modal-imagem-top">+
												Logo e titulo da lista de presença</a></li>
									</ul>
								</div>

								<div class="col-12 grid-margin"
									th:unless="${#lists.isEmpty(atividades)}"
									th:each="atividade : ${atividades}">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-7">
													<p th:text="${atividade.titulo}"></p>
												</div>
												<div class="col-lg-3">
													<p
														th:text="${#temporals.format(atividade.diaEvento.data,'dd/MM/yyyy')}"></p>
												</div>
												<div class="col-lg-2">
													<a class="btn btn-outline-dark pt-1 pb-1"
														data-toggle="collapse"
														th:href="'#collapse-' + ${atividade.id}" role="button"
														aria-expanded="false"
														th:attr="aria-controls='collapse-' + ${atividade.id}"><i
														class="icon-options-vertical"></i></a>
												</div>
											</div>

											<div class="collapse" th:id="'collapse-' + ${atividade.id}">
												<div class="card card-body">
													<div class="row">
														<div th:if="${usuario.podeAlterar('presenca') or usuario.podeAlterar('tudo')}" class="col-lg-6">
															<div class="card">
																<div class="card-body">
																	<form
																		th:action="@{/dashboard/admin/eventos/presencial/inscricoes/lancar/presenca/todos}"
																		method="post" class="forms-sample">
																		<input type="hidden" th:value="${atividade.id}"
																			name="id" />
																		<div class="row">
																			<div class="col-lg-6">
																				<div class="form-group">
																					<select class="form-control" name="presenca">
																						<option value="presentes">presentes</option>
																						<option value="ausentes">ausentes</option>
																					</select>
																				</div>
																			</div>
																			<div class="col-lg-6">
																				<div class="form-group">
																					<button type="submit"
																						class="btn btn-outline-success">Lançar
																						para todos</button>
																				</div>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>

														<div class="col-lg-6">
															<div class="card">
																<div class="card-body">
																	<a class="btn btn-outline-success"
																		th:href="@{/dashboard/admin/eventos/presencial/inscricoes/{id}/gerar/lista(id=${atividade.id})}">Gerar
																		lista de inscritos</a>
																</div>
															</div>
														</div>
														<div class="col-12">
															<div class="table-responsive">
																<table id="order-listing-inscricoes" class="table">
																	<thead>
																		<tr>
																			<th>Nome</th>
																			<th>CPF</th>
																			<th th:if="${usuario.podeAlterar('presenca')}" class="text-center">Presença</th>
																			<th th:if="${usuario.podeAlterar('inscricoes')}" class="text-center">Cancelar a inscrição</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr th:each="inscricao : ${atividade.inscricoes}">
																			<td th:text="${inscricao.usuario.nome}"></td>
																			<td th:text="${inscricao.usuario.dadosPessoais.cpf}"></td>

																			<td th:if="${usuario.podeAlterar('presenca')}" class="text-center"><div class="icheck">
																					<input class="presenca" type="checkbox"
																						th:value="${inscricao.id}"
																						th:checked="${inscricao.isPresente()}" />
																				</div></td>

																			<td th:if="${usuario.podeAlterar('inscricoes')}" class="text-center"><a
																				class="btn btn-outline-danger pt-1 pb-1"
																				th:href="@{/dashboard/admin/eventos/presencial/inscricoes/{id}/cancelar/inscricao(id=${inscricao.id})}"><i
																					class="icon-user-unfollow"></i></a></td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end div 1 -->

					</div>
					<!-- end row -->

					<div class="modal fade" id="modal-imagem-top" tabindex="-1"
						role="dialog" aria-labelledby="imagem-top-label"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="imagem-top-label">Logos e
										titulo do cabeçalho</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="wrapper mb-2 mt-1">
										<span class="badge badge-warning text-white">Nota : </span>
										<p class="d-inline ml-3 text-muted">100x50 e no máximo 2MB</p>
									</div>
									<form id="formulario-imagem-top"
										th:action="@{/dashboard/admin/eventos/presencial/lista/presenca/logo/salvar}"
										method="post" enctype="multipart/form-data">
										<input type="hidden" name="eventoPresencial"
											th:value="${evento.id}" />

										<div class="form-group">
											<label for="titulo">Titulo</label> <input
												class="form-control" type="text" name="titulo" />

										</div>

										<div class="form-group">
											<label for="esquerda">Logo esquerda</label> <input
												type="file" class="dropify" name="imagemEsquerda"
												data-max-file-size="2mb" data-default-file="" />
												<small>Tamanho: 100x50</small>
										</div>

										<div class="form-group">
											<label for="direita">Logo direita</label> <input type="file"
												class="dropify" name="imagemDireita"
												data-max-file-size="2mb" data-default-file="" />
												<small>Tamanho: 100x50</small>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" form="formulario-imagem-top"
										class="btn btn-primary">Salvar</button>
								</div>
							</div>
						</div>
					</div>


				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/dropify.min.js}"></script>
	<script th:src="@{~/js/icheck.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	<script th:src="@{~/js/dropify.js}"></script>


	<script th:inline="javascript" th:if="${usuario.podeAlterar('presenca') or usuario.podeAlterar('tudo')}">

	/*<![CDATA[*/
	$(()=>{
		$('.icheck input').iCheck({
	      checkboxClass: 'icheckbox_flat-green', 
	      radioClass: 'iradio_minimal',
	      increaseArea: '20%'
	 	 });

		$('.icheck input').on('ifChecked', function(event){
		  presente($(this).val()); 
		});

		$('.icheck input').on('ifUnchecked', function(event){
		  ausente($(this).val()); 
		});
	});

	function presente(id){
		
       $.ajax({
                  url: `/dashboard/admin/eventos/presencial/inscricoes/${id}/presenca/presente`,
                  type: "GET", 

              success: (result,status,xhr) => {
                                                 if(status === 'success'){
                                                 	console.log(status);
                                                 }
                                              }, 
              error: () => console.log("error")
      });
	}

	function ausente(id){
		
       $.ajax({
                  url: `/dashboard/admin/eventos/presencial/inscricoes/${id}/presenca/ausente`,
                  type: "GET", 

              success: (result,status,xhr) => {
                                                 if(status === 'success'){
                                                 	console.log(status);
                                                 }
                                              }, 
              error: () => console.log("error")
      });
	}
	/*]]>*/
	</script>
</body>

</html>
