<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Eventos</title>
<link rel="stylesheet" th:href="@{~/css/dropify.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/summernote-bs4.css}" />
<link rel="stylesheet" th:href="@{~/css/sweetalert2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/dragula.min.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">

					<div class="col-12 grid-margin">
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
								<li class="breadcrumb-item"><a
									th:href="@{/dashboard/admin/eventos/online}">Eventos Online</a></li>
								<li class="breadcrumb-item active" aria-current="page"><span>Detalhes</span></li>
							</ol>
						</nav>
					</div>

					<div class="container-fluid">
						<div class="row">

							<div class="col-lg-12" th:if="${alert != null}">
								<div th:class="${alert}" role="alert">
									<i class="mdi mdi-alert-circle"></i> <span th:text="${message}"></span>
									<button type="button" class="close" data-dismiss="alert"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</div>

							<div class="col-lg-12"  th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}">
								<ul class="nav">
									<li class="nav-item"><a class="nav-link" href="#"
										data-toggle="modal" data-target="#modal-imagem-top">+
											Imagem top</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/dashboard/admin/eventos/online/detalhes/imagens/top/deletar/{id}(id=${evento.id})}">-
											Imagem top</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
										data-toggle="modal" data-target="#modal-editor-sobre">+
											Sobre</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
										data-toggle="modal" data-target="#modal-modulos">+ Módulos</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
										data-toggle="modal" data-target="#modal-modulo-remover">- Módulos</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/dashboard/admin/eventos/online/atividades/{id}(id=${evento.id})}">+ Atividades</a></li>
									<li class="nav-item"><a class="nav-link" th:href="@{/dashboard/admin/eventos/online/alterar/{id}(id=${evento.id})}">+ Evento</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/dashboard/admin/eventos/online/estilo/{id}(id=${evento.id})}">+
											Estilo da página de destaque</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/dashboard/admin/eventos/online/certificado/{id}(id=${evento.id})}">+
												Certificado</a></li>		
								</ul>
							</div>

							<div class="col-lg-12">
								<div class="card mb-3">
									<img class="card-img-top"
										th:src="@{/imagens/evento/online/{id}/imagem-top.png(id=${evento.id})}"
										alt="Card image cap"
										th:if="${evento.imagemTopDetalhes != null}">
									<div class="card-body">
										<h1 class="card-title h4 font-weight-bold text-center"
											th:text="${evento.titulo}"></h1>
										<p class="card-text" th:text="${evento.descricao}"></p>
										<p class="card-text">
											<small class="text-muted">Última atualização em <span
												th:text="${#temporals.format(evento.dataAtualizacao, 'dd/MM/yyyy')}"></span></small>
										</p>
									</div>
								</div>
							</div>

							<div class="col-lg-8 stretch-card side-left">
								<div class="card">
									<div class="card-body">
										<div
											class="wrapper d-block d-sm-flex align-items-center justify-content-between">
											<h4 class="card-title mb-0">Detalhes</h4>
											<ul class="nav nav-tabs tab-solid tab-solid-primary mb-0 row"
												id="myTab" role="tablist">

												<li class="nav-item col-xs-12"><a
													class="nav-link active" id="avatar-tab" data-toggle="tab"
													href="#avatar" role="tab" aria-controls="avatar">Módulos</a></li>

												<li class="nav-item col-xs-12"><a class="nav-link"
													id="info-tab" data-toggle="tab" href="#info" role="tab"
													aria-controls="info" aria-expanded="true">Sobre</a></li>

											</ul>
										</div>
										<div class="wrapper">
											<hr>
											<div class="tab-content" id="myTabContent">

												<div class="tab-pane fade show active" id="avatar"
													role="tabpanel" aria-labelledby="avatar-tab">
													<div class="row">

														<div class="col-lg-12 border-bottom pt-2 pb-2">
															<div class="row justify-content-between">
																	
																	<div class="col-lg-8">
																		<h4 class="font-weight-bold">Módulos</h4>
																	</div>

																	<div class="col-lg-4">
																		<h4 class="text-muted text-center">Atividades</h4>
																	</div>
															</div>
														</div>

														<div class="col-lg-12 border-bottom pt-4"
															th:unless="${#lists.isEmpty(evento.modulos)}"
															th:each="modulo : ${evento.modulos}">

															<div class="row justify-content-between">
																
																<div th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" class="col-lg-1">
																	<a href="#" data-toggle="modal" data-target="#modal-ordenar-modulo"><i class="icon-layers"></i></a> 
																</div>

																<div class="col-lg-9">
																	<a th:href="@{/dashboard/admin/eventos/online/modulos/{id}(id=${modulo.id})}"><h5 class="font-weight-bold" th:text="${modulo.titulo}"></h5></a>
																</div>

																<div class="col-lg-2">
																	<p class="text-muted" th:text="${#lists.isEmpty(modulo.atividades)} ? '0' : ${#lists.size(modulo.atividades)}"></p>
																</div>
															</div>
															
														</div>
								
													</div>
												</div>

												<div class="tab-pane fade" id="info" role="tabpanel"
													aria-labelledby="info">
													<div class="border-bottom border-top pt-3 mb-5">
														<div class="row">
															<div class="col-lg-4 col-xs-12">
																<p class="text-center">Evento</p>
																<h6 class="text-center font-weight-bold">EAD</h6>
															</div>
															<div class="col-lg-4 col-xs-12">
																<p class="text-center">Carga horária</p>
																<h6 class="text-center font-weight-bold">
																	<span th:text="${evento.cargaHoraria}"></span> HORAS
																</h6>
															</div>
															<div class="col-lg-4 col-xs-12">
																<p class="text-center">Certificado</p>
																<h6 class="text-center font-weight-bold"
																	th:text="${evento.displayCertificado}"></h6>
															</div>
														</div>
													</div>

													<div th:if="${evento.sobre != null}"
														th:utext="${evento.sobre.conteudo}"></div>

												</div>


											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 side-right">
								<div class="row">

									<div class="col-lg-12">
										<div class="card text-center">
											<div class="card-body">
												<img
													th:unless="${evento.responsavel.imagens == null}"
													th:src="@{/imagens/evento/{id}/responsavel.png(id=${evento.responsavel.id})}"
													alt="image" class="img-lg rounded-circle mb-2" />

													<img th:if="${evento.responsavel.imagens == null}" src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image" class="img-lg rounded-circle mb-2"/>	
													
												<h4 th:text="${evento.responsavel.nome}">Ena de Araujo</h4>
												<p class="text-muted">RESPONSÁVEL PELO EVENTO</p>
												<div class="border-top pt-3">
													<div class="row">
														<div class="col-12">
															<h6 class="font-weight-bold"
																th:text="${evento.responsavel.email}"></h6>
														</div>
														<div class="col-12">
															<h6 class="font-weight-bold"
																th:text="${evento.responsavel.dadosPessoais.telefones[0].numero}"></h6>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-lg-12 mt-2">
										<div class="card">
											<div class="card-body">
												<h4 class="card-title">Informações</h4>
												<ul class="bullet-line-list">
													<li>
														<h6 class="font-weight-bold">Online</h6>
														<p class="mb-0">Evento a distância</p>
														<p class="text-muted">
															<i class="icon-globe"></i> <span>disponível 24
																horas por dia, 7 dias por semana</span>
														</p>
													</li>
													<li>
														<h6 class="font-weight-bold">Categoria</h6>
														<p class="mb-0" th:text="${evento.categoria.nome}"></p>
														<p class="text-muted">
															<i class=" icon-graduation"></i> evento <span
																th:text="${evento.tipoEvento}"></span>
														</p>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>

							</div>




						</div>

					</div>

					<!-- Modal imagem top -->
					<div th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" class="modal fade" id="modal-imagem-top" tabindex="-1"
						role="dialog" aria-labelledby="imagem-top-label"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="imagem-top-label">Imagem do
										topo da página</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="wrapper mb-5 mt-4">
										<span class="badge badge-warning text-white">Nota : </span>
										<p class="d-inline ml-3 text-muted">Favor a imagem precisa
											ter 1000x250 e no máximo 2MB de tamanho</p>
									</div>
									<form id="formulario-imagem-top"
										th:action="@{/dashboard/admin/eventos/online/detalhes/imagens/top/salvar}"
										method="post" enctype="multipart/form-data">
										<input type="hidden" name="eventoOnline"
											th:value="${evento.id}"> <input type="file"
											class="dropify" name="imagem" data-max-file-size="2mb"
											data-default-file="" />
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" form="formulario-imagem-top"
										class="btn btn-primary">Salvar</button>
								</div>
							</div>
						</div>
					</div>

					<!-- modal editor sobre -->
					<div th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" class="modal fade" id="modal-editor-sobre" tabindex="-1"
						role="dialog" aria-labelledby="modal-label-editor-sobre"
						aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="imagem-top-label">Mais
										detalhes sobre o evento</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<form
										th:action="@{/dashboard/admin/eventos/online/detalhes/sobre/salvar}"
										id="formulario-editor-sobre" method="post">
										<input type="hidden" name="eventoOnline"
											th:value="${evento.id}" />
										<textarea id="summernote" name="conteudo"
											th:utext="${evento.sobre != null} ?  ${evento.sobre.conteudo} : ''"></textarea>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" form="formulario-editor-sobre"
										class="btn btn-primary">Salvar</button>
								</div>
							</div>
						</div>

					</div>

					<!-- modal modulos -->
					<div th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" class="modal fade" id="modal-modulos" tabindex="-1"
						role="dialog" aria-labelledby="modal-label-modulos"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"  id="modal-label-modulos">Adicione
										um módulo ao seu evento</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="wrapper mb-3 mt-1">
										<span class="badge badge-warning text-white">Nota : </span>
										<p class="d-inline ml-3 text-muted font-weight-bold">Não faça alteraçóes se existir inscrições</p>
									</div>
									<form
										th:action="@{/dashboard/admin/eventos/online/modulos/salvar}"
										id="formulario-modulos" method="post">

										<input type="hidden" name="eventoOnline"
											th:value="${evento.id}" />

										<input type="hidden" id="id" name="id" />	

										<div class="row">

											<div class="col-lg-12" th:unless="${#lists.isEmpty(evento.modulos)}">
												<div class="form-group">
													<label for="select-modulo">Módulos</label>
													<select class="form-control" id="select-modulo">
														<option value="-1">Adicionar novo</option>
														<option th:unless="${#lists.isEmpty(evento.modulos)}" th:each="modulo : ${evento.modulos}" th:text="${modulo.titulo}" th:value="${modulo.id}"></option>
													</select>
												</div>
											</div>
											
											<div class="col-lg-12">
												<div class="form-group">
													<label for="titulo">Titulo</label>
													<input class="form-control" id="titulo"
														placeholder="título do módulo" 
														required="true" name="titulo" />
												</div>
											</div>

											<div class="col-lg-12">
												<div class="form-group">
													<label for="posicao">Qual a posição do módulo dentro do evento?</label> <input type="number"
												class="form-control" id="posicao"
												placeholder="informe a posição do módulo" name="posicao"
												required="true" min="1" />
												</div>
											</div>

										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" form="formulario-modulos"
										class="btn btn-primary">Salvar</button>
								</div>
							</div>
						</div>

					</div>

					<!-- modal modulos remover -->
					<div th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" class="modal fade" id="modal-modulo-remover" tabindex="-1"
						role="dialog" aria-labelledby="modal-label-modulos"
						aria-hidden="true" th:unless="${#lists.isEmpty(evento.modulos)}">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="modal-label-modulos">Remover um módulo</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="wrapper mb-3 mt-1">
										<span class="badge badge-danger text-white">Nota : </span>
										<p class="d-inline ml-3 text-muted font-weight-bold">Se existir inscritos essa ação não será execultada</p>
									</div>
									<form
										th:action="@{/dashboard/admin/eventos/online/modulos/deletar}"
										id="formulario-modulos-remover" method="post">

										<div class="row">

											<div class="col-lg-12" th:unless="${#lists.isEmpty(evento.modulos)}">
												<div class="form-group">
													<label for="modulo-remover">Módulos</label>
													<select class="form-control" id="modulo-remover" name="id">
														<option th:each="modulo : ${evento.modulos}" th:text="${modulo.titulo}" th:value="${modulo.id}"></option>
													</select>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button type="submit" form="formulario-modulos-remover"
										class="btn btn-warning">Remover</button>
								</div>
							</div>
						</div>

					</div>

					<!-- modal dragula -->
					<div class="modal fade" th:if="${!#lists.isEmpty(evento.modulos) and (usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo'))}" id="modal-ordenar-modulo" tabindex="-1"
						role="dialog" aria-labelledby="modal-label-ordenar-modulo"
						aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="imagem-top-label">Ordene os módulos (ARRASTE E SOLTE )</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div class="wrapper mb-3 mt-1">
										<span class="badge badge-warning text-white">Nota : </span>
										<p class="d-inline ml-3 text-muted font-weight-bold">Não faça alterações se existir inscrições</p>
									</div>
									<div id="dragula-modulos" class="h-100">
										<div th:id="${m.id}" class="card mb-1" th:each="m : ${evento.modulos}">
											<div class="card-body">
												<p class="card-text" th:text="${m.titulo}"></p>
											</div>
										</div> 
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary"
										data-dismiss="modal">Cancelar</button>
									<button id="btn-ordenar" type="button" class="btn btn-primary" onclick="ordenar()" disabled="disabled">Salvar</button>
								</div>
							</div>
						</div>

					</div>

				</div>
				<!-- end content-wrapper -->

				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/dropify.min.js}"></script>
	<script th:src="@{~/js/select2.min.js}"></script>
	<script th:src="@{~/js/summernote-bs4.min.js}"></script>
	<script th:src="@{~/js/sweetalert2.min.js}"></script>
	<script th:src="@{~/js/dragula.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	<script th:src="@{~/js/dropify.js}"></script>

	<script>

	    $(document).ready(function(){

	    $('#titulo').on('input', () => {$('#qtd-titulo').text($('#titulo').val().length)});	

	     $('#summernote').summernote({
	     	 toolbar: [
	     	 	['style', ['bold', 'italic', 'underline', 'clear']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['fontsize', ['fontsize']],
			    ['fontname', ['fontname']],
			    ['color', ['color']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['picture', ['picture']],
			    ['link', ['link']],
			    ['video', ['video']],
			    ['table', ['table']],
			    ['codeview', ['codeview']],
	     	],
	     	dialogsInBody: true,
			dialogsFade: false,
	     	height: 300,
	     	tabsize: 2
	     });

	    var drake = dragula([document.querySelector('#dragula-modulos')]);
		drake.on('drop', function(el) {
            	var modulos = [].slice.call(el.parentElement.children);
            	preencherLista(modulos);
            	 $('#btn-ordenar').prop('disabled', false);
        	});

	    });

	    function getElementIndex(el) {
 		   return [].slice.call(el.parentElement.children).indexOf(el);
		}

		var lista;

		 function preencherLista(modulos){

		 	var index;
		 	lista = [];
		 	for(index in modulos){
		 		lista.push({id: modulos[index].id});
		 	}
		 }

		 function ordenar(){
		 	
		 	var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			var dados = JSON.stringify(lista);

		 	$.ajax({
                  
                  beforeSend: function(xhrObj){
		                xhrObj.setRequestHeader(header,token);
       			 },

                  url: "/dashboard/admin/eventos/online/modulos/ordenar",
                  type: "POST", 
                  data: dados,
                  contentType: "application/json",
                  cache: false,
        		  timeout: 600000,

              	success: (result,status,xhr) => {
                    console.log(status);
                    window.location.reload();
                },     
		        error: () => {
	              	console.log("acorreu um erro");
		        }
      		});
		 }	

  	</script>

	<script th:inline="javascript">

	/*<![CDATA[*/
		(function($) {
			  'use strict';

			  if($(".js-select-single").length){
			    $(".js-select-single").select2();
			  }
		})(jQuery);
	/*]]>*/
	</script>

	<script th:inline="javascript" th:unless="${#lists.isEmpty(evento.modulos)}">

	/*<![CDATA[*/
		$(()=>{

			 $('#select-modulo').on('change', preencheModalModulo);	

		});

		function preencheModalModulo(){

			var id = $('#select-modulo').val();
			if(id !== -1){

					$.ajax({
		                  url: `/dashboard/admin/eventos/online/modulo/dto/${id}`,
		                  type: "GET", 

		              success: (result,status,xhr) => {
		                                                  $('#id').val(result.id);
		                                                  $('#titulo').val(result.titulo);
		                                                  $('#posicao').val(result.posicao);
		                                                  console.log(result);
		                                              }, 
		              error: () => {
		              	
		              	$('#id').val('');
				         $('#titulo').val('');
				         $('#posicao').val('');
		              	console.log("error");

		              }
		      		});
			}else{
				 $('#id').val('');
		         $('#titulo').val('');
		         $('#posicao').val('');
			}
		}

	/*]]>*/
	</script>

</body>

</html>
