<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Eventos</title>
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">

					<div class="col-12 grid-margin">
						<nav aria-label="breadcrumb" role="navigation">
				            <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
				            <li class="breadcrumb-item"><a th:href="@{/dashboard/admin/eventos/online}">Eventos Online</a></li>
				            <li class="breadcrumb-item active" aria-current="page"><span th:text="${evento.titulo}"></span></li>
				            </ol>
				        </nav>
			        </div>

					<!-- row -->
					<div class="row">

						<!-- div 1 -->
						<div class="col-lg-12 d-flex align-items-stretch grid-margin">
							<!-- row -->
							<div class="row flex-grow">
								<div class="col-12 grid-margin">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Público alvo</h4>
											<h6><span th:text="${evento.titulo}"></span></h6>
											<form th:action="@{/dashboard/admin/eventos/online/permissoes/salvar}" class="forms-sample" method="post">
												<div class="row">
													
													<input type="hidden" name="eventoOnline" th:value="${evento} != null ? ${evento.id} : ''" />

													<input type="hidden" name="id" th:value="${evento.permissoes} != null ? ${evento.permissoes.id} : ''" />

													<input type="hidden" name="token" th:value="${evento.permissoes} != null ? ${evento.permissoes.codigo} : ''" />

													<div class="col-lg-4">	
														<div class="form-group">
															<label for="sexo">Opção sexual</label>
															<select class="form-control js-select-single" aria-describedby="sexoHelp" name="sexos" multiple="multiple" style="width:100%">
																<option value="todos" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.sexos, 'todos')}">TODAS</option>
																<option th:if="${sexos != null}" th:each="sexo : ${sexos}" th:text="${#strings.toUpperCase(sexo.nome)}" th:value="${sexo.nome}" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.sexos, sexo.nome)}"></option>
															</select>
														</div>
									                </div> 

									                <div class="col-lg-4">	
														<div class="form-group">
															<label for="codigo">Código para inscrição exigido</label>
															<select class="form-control js-select-single" aria-describedby="codigoHelp" name="codigo" style="width:100%">
																<option value="false">NÃO</option>
																<option value="true" th:selected="${evento.permissoes} != null and ${evento.permissoes.codigo} != null">SIM</option>
															</select>
														</div>
									                </div>

									                <div class="col-lg-4">	
														<div class="form-group">
															<label for="destinado">Evento destinado a</label>
															<select class="form-control js-select-single" aria-describedby="sexoHelp" name="destinado" style="width:100%">
																<option value="todos" th:selected="${evento.permissoes} != null and ${evento.permissoes.destinado} == 'todos'">TODOS</option>
																<option value="funcionarios" th:selected="${evento.permissoes} != null and ${evento.permissoes.destinado} == 'funcionarios'">FUNCIONÁRIOS</option>
																<option value="outros" th:selected="${evento.permissoes} != null and ${evento.permissoes.destinado} == 'outros'">OUTROS</option>
															</select>
														</div>
									                </div>   

													<div class="col-lg-12">	
														<div class="form-group">
															<label for="unidade">Unidade de trabalho</label>
															<select class="form-control js-select-single" aria-describedby="unidadeHelp" name="unidades" multiple="multiple" style="width:100%">
																<option value="todos" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.unidades, 'todos')}">TODAS</option>
																<option th:if="${unidades != null}" th:each="unidade : ${unidades}" th:text="${unidade.nome}" th:value="${unidade.nome}" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.unidades, unidade.nome)}"></option>
															</select>
														</div>
									                </div>

									                <div class="col-lg-12">	
														<div class="form-group">
															<label for="cargo">Cargo</label>
															<select class="form-control js-select-single" aria-describedby="cargoHelp" name="cargos" multiple="multiple" style="width:100%">
																<option value="todos" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.cargos, 'todos')}">TODOS</option>
																<option th:if="${cargos != null}" th:each="cargo : ${cargos}" th:text="${cargo.nome}" th:value="${cargo.nome}" th:selected="${evento.permissoes} != null and ${#lists.contains(evento.permissoes.cargos, cargo.nome)}"></option>
															</select>
															<small>Obs.: Se o evento for destinado a todos ou a pessoas que não são funcionários (OUTROS), favor selecionar apenas 'TODOS'</small>
														</div>
									                </div>

												</div>	

												<button th:if="${usuario.podeAlterar('eventosOnline') or usuario.podeAlterar('tudo')}" type="submit" class="btn btn-success mr-2">Salvar</button>
												<a class="btn btn-light" th:href="@{/dashboard/admin/eventos/online}">Cancelar</a>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end div 1 -->

					</div>
					<!-- end row -->
				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/select2.min.js}"></script>
	<script th:src="@{~/js/nouislider.min.js}"></script>
	<script th:src="@{~/js/wNumb.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	
	<script th:inline="javascript">

	/*<![CDATA[*/
		(function($) {
			  'use strict';

			  if($(".js-select-single").length){
			    $(".js-select-single").select2();
			  }

		})(jQuery);
	/*]]>*/
	</script>

</body>

</html>
