<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Eventos</title>
<link rel="stylesheet" th:href="@{~/css/dropify.min.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-clockpicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/sweetalert2.min.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					
					<div class="col-12 grid-margin">
						<nav aria-label="breadcrumb" role="navigation">
				            <ol class="breadcrumb breadcrumb-custom bg-inverse-primary">
				            <li class="breadcrumb-item"><a th:href="@{/dashboard/admin/eventos/online}">Eventos Online</a></li>
				            <li th:if="${evento} != null" class="breadcrumb-item"><a th:href="@{/dashboard/admin/eventos/online/detalhes/{id}(id=${evento.id})}">Detalhes</a></li>
				            <li class="breadcrumb-item active" aria-current="page"><span>Cadastro</span></li>
				            </ol>
				        </nav>
			        </div>

					<!-- row -->
					<div class="row">
						<!-- div 1 -->
						<div class="col-lg-12 d-flex align-items-stretch grid-margin">
							<!-- row -->
							<div class="row flex-grow">
								<div class="col-12 grid-margin">
									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Evento online</h4>
											<form th:action="@{/dashboard/admin/eventos/online/salvar}" class="forms-sample" method="post">
												<div class="row">
													
													<input type="hidden" name="id" th:value="${evento} != null ? ${evento.id} : ''" />

													<input type="hidden" name="responsavel" th:value="${evento} != null ? ${evento.responsavel.id} : ${usuario.id}" />

													<input type="hidden" name="dataCriacao" th:value="${evento} != null ? ${#temporals.format(evento.dataCriacao, 'dd/MM/yyyy')} : ${#temporals.format(#temporals.createToday(), 'dd/MM/yyyy')}" />

													<input type="hidden" name="dataAtualizacao" th:value="${#temporals.format(#temporals.createToday(), 'dd/MM/yyyy')}" />

													<div class="col-lg-3" th:if="${evento != null}">	
														<div class="form-group">
															<label for="categoria">Categoria do evento</label> <select
															class="form-control js-select-single"
															aria-describedby="categoriaEvento" name="categoria" style="width: 100%;">
															<option 
																th:unless="${#lists.isEmpty(categorias)}" 
																th:each="categoria : ${categorias}" 
																th:value="${categoria.id}"
																th:text="${categoria.display}"
																th:selected="${categoria.id == evento.categoria.id and evento.categoria.id != null}"></option>
														</select>
														</div>
													</div>

													<div class="col-lg-3" th:if="${evento == null}">	
														<div class="form-group">
															<label for="categoria">Categoria do evento</label> <select
															class="form-control js-select-single"
															aria-describedby="categoriaEvento" name="categoria" style="width: 100%;">
															<option 
																th:unless="${#lists.isEmpty(categorias)}" 
																th:each="categoria : ${categorias}" 
																th:value="${categoria.id}"
																th:text="${categoria.display}">
															</option>
														</select>
														</div>
													</div>		

													<div class="col-lg-3">	
														<div class="form-group">
															<label for="tipoEvento">Tipo do evento</label> <select
															class="form-control js-select-single"
															aria-describedby="categoriaEvento" name="tipoEvento" style="width: 100%;">
															<option 
																value="interno"
																th:selected="${evento != null and evento.tipoEvento == 'interno'}">INTERNO</option>
															<option 
																value="externo" 
																th:selected="${evento != null and evento.tipoEvento == 'externo'}">EXTERNO</option>
														</select>
														</div>
													</div>			
													
													<div class="col-lg-3">
														<div class="form-group">
															<label for="cargaHoraria">Carga horária</label>
															 <input type="number" class="form-control" id="cargaHoraria" name="cargaHoraria" placeholder="apenas números" min="0" required="true" th:value="${evento} != null ? ${evento.cargaHoraria} : ''"/>
														</div>
													</div>

													<div class="col-lg-3">
														<div class="form-group">
															<label for="certificado">Certificado</label>
															 <select id="certificado" class="form-control" name="certificado">
															 	<option 
															 		value="true" 
															 		th:selected="${evento != null and evento.isCertificado()}">SIM</option>
															 	<option 
															 		value="false"
															 		th:selected="${evento != null and !evento.isCertificado()}">NÃO</option>
															 </select>
														</div>
													</div>

													<div class="col-lg-4">
														<div class="form-group">
															<label for="titulo">Titulo</label>
															 <textarea rows="2" class="form-control" id="titulo" placeholder="máximo de 60 caracteres" maxlength="60" required="true" th:text="${evento} != null ? ${evento.titulo} : ''" name="titulo"></textarea>
															 <small>máximo de caracteres: 60 digitados: <span id="qtd-titulo">0</span></small> 
														</div>
													</div>

													<div class="col-lg-8">	
														<div class="form-group">
															<label for="descricao">Descrição</label>
															<textarea rows="2" class="form-control" id="descricao" placeholder="máximo de 155 caracteres" maxlength="155" required="true" th:text="${evento} != null ? ${evento.descricao} : ''" name="descricao"></textarea>
															<small>máximo de caracteres: 155 digitados: <span id="qtd-descricao">0</span></small> 
														</div>
													</div>
												</div>	

												<button type="submit" class="btn btn-success mr-2">Salvar</button>
												<a class="btn btn-light mr-2" th:href="@{/dashboard/admin/eventos/online}">Cancelar</a>

												<button th:if="${evento != null and usuario.podeDeletar('eventosOnline')}" class="btn btn-outline-danger" type="button" th:onclick="'deletar(' + ${evento.id} + ')'">Excluir</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end div 1 -->

					</div>
					<!-- end row -->
				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/dropify.min.js}"></script>
	<script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{~/js/bootstrap-clockpicker.min.js}"></script>
	<script th:src="@{~/js/jquery.inputmask.bundle.js}"></script>
	<script th:src="@{~/js/select2.min.js}"></script>
	<script th:src="@{~/js/sweetalert2.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	<script th:src="@{~/js/dropify.js}"></script>

	<script>

	    $(document).ready(function(){

	     $('#titulo').on('input', () => {$('#qtd-titulo').text($('#titulo').val().length)});
		 $('#descricao').on('input', () => {$('#qtd-descricao').text($('#descricao').val().length)});

		});

		function deletar(id){
	          
	            swal({
	              title: 'Deletar evento',
	              text: "Se houver inscrições no evento essa ação não será realizada!",
	              type: 'warning',
	              showCancelButton: true,
	              confirmButtonColor: '#3085d6',
	              cancelButtonColor: '#d33',
	              cancelButtonText: 'Cancelar',
	              confirmButtonText: 'Continuar'
	            }).then(function () {
	              window.location.href = `/dashboard/admin/eventos/online/deletar/${id}`	
	          }).catch(swal.noop);
	  }  

  	</script>

	<script th:inline="javascript">

	/*<![CDATA[*/
		(function($) {
			  'use strict';

			  if($(".js-select-single").length){
			    $(".js-select-single").select2();
			  }
		})(jQuery);
	/*]]>*/
	</script>

</body>

</html>
