
<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Informações</title>
<link rel="stylesheet" th:href="@{~/css/dataTables.bootstrap4.css}" />
<link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{~/css/sweetalert2.min.css}" />
</head>

<body>
	<!-- container-scroller -->
	<div class="container-scroller">

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- container-fluid -->
		<div class="container-fluid page-body-wrapper">
			<!-- row-offcanvas -->
			<div class="row row-offcanvas row-offcanvas-right">

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row justify-content -->
					<div class="row justify-content-center">

						<!-- modal usuarios -->
						<div class="col-lg-12" th:unless="${#lists.isEmpty(atuais)}">

							<!-- Modal usuarios-->
							<div th:each="user : ${atuais}" class="modal fade col-lg-12"
								th:id="'modal-' + ${user.id}" tabindex="-1" role="dialog"
								th:attr="aria-labelledby='modalLabel-' + ${user.id}"
								aria-hidden="true">
								<div class="modal-dialog modal-lg" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" th:id="'modalLabel-' + ${user.id}"
												th:text="${user.nome}">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form th:id="'formulario-usuario-' + ${user.id}"
												th:action="@{/dashboard/admin/usuarios/salvar}"
												method="post">

												<input type="hidden" name="id"
													th:value="${user != null} ? ${user.id} : ''"> <input
													type="hidden" name="dadosPessoais"
													th:value="${user != null} ? ${user.dadosPessoais.id} : ''">
												<input type="hidden" name="codigoFuncional"
													th:value="${user != null} ? ${user.codigoFuncional.id} : ''">

												<div class="form-row">
													<div class="form-group col-lg-5">
														<label for="nome">Nome</label> <input type="text"
															class="form-control" id="nome"
															placeholder="nome do usuario" name="nome"
															th:value="${user != null} ? ${user.nome} : ''"
															required="true" />
													</div>

													<div class="form-group col-lg-4">
														<label for="email">Email</label> <input type="email"
															class="form-control" id="email" placeholder="email"
															name="email"
															th:value="${user != null} ? ${user.email} : ''"
															required="true" />
													</div>

													<div class="form-group col-lg-3">
														<label for="cpf">CPF</label> <input type="text"
															class="form-control" id="cpf" 
															th:value="${user.dadosPessoais.cpf}"
															placeholder="altere seu cpf" name="dadosPessoais.cpf"
															pattern="[0-9]+" />
													</div>

													<input th:id="'nascimento-' + ${user.id}" type="hidden"
														th:value="${#temporals.format(user.dadosPessoais.nascimento, 'dd/MM/yyyy')}" />

													<div class="form-group col-lg-4">
														<label th:for="'datepicker-' + ${user.id}">Nascimento</label>
														<div th:id="'datepicker-popup-' + ${user.id}"
															class="input-group date datepicker">
															<input th:id="'datepicker-' + ${user.id}" type="text"
																class="form-control" name="dadosPessoais.nascimento" />
															<div class="input-group-addon input-group-text">
																<span class="mdi mdi-calendar"></span>
															</div>
														</div>
													</div>

													<div class="form-group col-lg-4">
														<label for="sexo">Sexo</label> <select id="sexo"
															class="form-control js-select-single"
															aria-describedby="sexoHelp" name="dadosPessoais.sexo"
															required="true" style="width: 100%;">
															<option th:if="${sexos != null}"
																th:each="sexo : ${sexos}" th:text="${sexo.display}"
																th:value="${sexo.nome}"
																th:selected="${sexo.nome == user.dadosPessoais.sexo}"></option>
														</select>
													</div>

													<div class="form-group col-lg-4">
														<label for="mobile">Escolaridade</label> <select
															name="dadosPessoais.escolaridade"
															class="form-control js-select-single"
															aria-describedby="escolaridadeHelp" style="width: 100%;">
															<option th:if="${formacoes != null}"
																th:each="escolaridade : ${formacoes}"
																th:text="${escolaridade.display}"
																th:value="${escolaridade.nome}"
																th:selected="${escolaridade.nome == user.dadosPessoais.escolaridade}"></option>

														</select>
													</div>

													<input type="hidden" name="codigo" value="nf"
														th:if="${user.codigoFuncional.codigo == 'nf'}" />

													<div class="form-group col-lg-4"
														th:if="${user.codigoFuncional.codigo != 'nf'}">
														<label for="name">Código Funcional</label> <input
															type="text" class="form-control" id="codigoFuncional"
															th:value="${user.codigoFuncional.codigo}"
															name="codigoFuncional.codigo"
															placeholder="altere seu codigo" />
													</div>

													<input type="hidden" name="codigoFuncional.cargo"
														value="102"
														th:if="${user.codigoFuncional.cargo.id == 102}" />

													<div class="form-group col-lg-4"
														th:if="${user.codigoFuncional.cargo.id != 102}">
														<label for="email">Cargo</label> <select
															class="form-control js-select-single"
															aria-describedby="cargoHelp" name="codigoFuncional.cargo"
															style="width: 100%;">
															<option th:if="${cargos != null}"
																th:each="cargo : ${cargos}" th:text="${cargo.nome}"
																th:value="${cargo.id}"
																th:selected="${cargo.id == user.codigoFuncional.cargo.id}"></option>
														</select>
													</div>

													<div class="form-group col-lg-4">
														<label for="mobile">Unidade de trabalho</label> <select
															class="form-control js-select-single"
															aria-describedby="unidadeHelp"
															name="codigoFuncional.unidadeTrabalho"
															style="width: 100%;">
															<option th:if="${unidades != null}"
																th:each="unidade : ${unidades}"
																th:text="${unidade.nome}" th:value="${unidade.id}"
																th:selected="${unidade.id == user.codigoFuncional.unidadeTrabalho.id}"></option>
														</select>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
											<button th:if="${usuario.podeAlterar('usuarios')}"  type="submit"
												th:attr="form='formulario-usuario-' + ${user.id}"
												value="submit" class="btn btn-success">Salvar</button>
										</div>
									</div>
								</div>
							</div>

							<!-- Modal telefones usuarios-->
							<div th:each="user : ${atuais}" class="modal fade col-lg-12"
								th:id="'modalTelefone-' + ${user.id}" tabindex="-1"
								role="dialog"
								th:attr="aria-labelledby='modalLabelTelefone-' + ${user.id}"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title"
												th:id="'modalLabelTelefone-' + ${user.id}"
												th:text="${user.nome}">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form
												th:unless="${#lists.isEmpty(usuario.dadosPessoais.telefones)}"
												method="post"
												th:action="@{/dashboard/admin/usuarios/telefones/salvar}"
												th:each="telefone : ${user.dadosPessoais.telefones}">

												<input type="hidden" name="id" th:value="${telefone.id}">
												<input type="hidden" name="dadosPessoais"
													th:value="${user.dadosPessoais.id}" />

												<div class="form-row">
													<div class="form-group col-lg-6">
														<label for="nome">Número</label> <input type="text"
															class="form-control telefoneUsuario" id="telefoneUsuario"
															placeholder="adicione novo número" name="numero"
															th:value="${telefone.numero}" required="true" />
													</div>

													<div class="row align-items-end">
														<div th:if="${usuario.podeAlterar('usuarios')}" class="form-group col-lg-6">
															<button type="submit" class="btn btn-success">Salvar</button>
														</div>
													</div>
												</div>
											</form>
											<form
												th:if="${usuario.podeAlterar('usuarios')}"
												th:action="@{/dashboard/admin/usuarios/telefones/salvar}"
												method="post">
												<input type="hidden" name="dadosPessoais"
													th:value="${user.dadosPessoais.id}">

												<div class="form-row">
													<div class="form-group col-lg-6">
														<label for="nome">Número</label> <input type="text"
															class="form-control telefoneUsuario"
															id="telefoneUsuarioNovo"
															placeholder="adicione novo número" name="numero"
															required="true" />
													</div>

													<div class="row align-items-end">
														<div class="form-group col-lg-4">
															<button type="submit" class="btn btn-success">+
																Novo</button>
														</div>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer text-right"
											th:if="${!#lists.isEmpty(user.dadosPessoais.telefones) and usuario.podeAlterar('usuarios')}">
											<form method="post"
												th:action="@{/dashboard/admin/usuarios/telefones/excluir}">
												<div class="row">
													<div class="form-group pr-2">
														<select name="id" class="form-control js-select-single" style="width: 100%;">
															<option
																th:each="telefone : ${user.dadosPessoais.telefones}"
																th:text="${telefone.numero}" th:value="${telefone.id}">
															</option>
														</select>
													</div>
													<div class="form-group">
														<button type="submit" class="btn btn-warning">Excluir</button>
													</div>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>

							<!-- Modal autorizacoes usuarios-->
							<div th:each="user : ${atuais}" class="modal fade col-lg-12"
								th:id="'modalAutorizacao-' + ${user.id}" tabindex="-1"
								role="dialog"
								th:attr="aria-labelledby='modalLabelAutorizacao-' + ${user.id}"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title"
												th:id="'modalLabelAutorizacao-' + ${user.id}"
												th:text="${user.nome}">Modal title</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<form th:id="'formulario-autorizacao-' + ${user.id}"
												method="post"
												th:action="@{/dashboard/admin/usuarios/autorizacoes/salvar}">

												<input type="hidden" name="id" th:value="${user.id}">

												<div class="form-row">
													<div class="col-lg-12">
														<p class="text-center">Dar ou remover permissões no
															sistema</p>
													</div>
													<div class="form-group col-lg-12">
														<label for="autorizacao">Autorização</label> <select
															class="form-control js-select-single"
															aria-describedby="unidadeHelp" name="nomeAutorizacao" style="width: 100%;">
															<option th:if="${autorizacoes != null}"
																th:each="autorizacao : ${autorizacoes}"
																th:text="${autorizacao.display}"
																th:value="${autorizacao.nome}"
																th:selected="${autorizacao.id == user.autorizacoes[0].id}"></option>
														</select>
													</div>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-danger"
												data-dismiss="modal">Cancelar</button>
											<button th:if="${usuario.podeAlterar('permissoes')}" type="submit"
												th:attr="form='formulario-autorizacao-' + ${user.id}"
												value="submit" class="btn btn-success">Salvar</button>
										</div>
									</div>
								</div>
							</div>

						</div>
						<!-- end modal usuarios -->

						<div class="col-12 grid-margin"
							th:unless="${#lists.isEmpty(atuais)}">
							<form class="forms-sample">

								<div class="row">
									<div class="col-lg-12">
										<div th:if="${alert != null}">
											<div th:class="${alert}" role="alert">
												<i class="mdi mdi-alert-circle"></i> <span
													th:text="${message}"></span>
												<button type="button" class="close" data-dismiss="alert"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="usuarioNome"
												class="form-control js-select-single"
												aria-describedby="usuarioNome" style="width: 100%;">
												<option value="-1">NOME</option>
												<option value="-1">TODOS</option>

											</select>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="usuarioEmail"
												class="form-control js-select-single"
												aria-describedby="usuarioEmail" style="width: 100%;">
												<option value="-1">EMAIL</option>
												<option value="-1">TODOS</option>

											</select>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="usuarioCpf" class="form-control js-select-single"
												aria-describedby="usuarioCpf" style="width: 100%;">
												<option value="-1">CPF</option>
												<option value="-1">TODOS</option>

											</select>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="unidadeTrabalho"
												class="form-control js-select-single"
												aria-describedby="unidadeTrabalho" style="width: 100%;">
												<option value="-1">UNIDADE TRABALHO</option>
												<option value="-1">TODOS</option>
												<option th:each="unidade : ${unidades}"
													th:value="${unidade.id}" th:text="${unidade.nome}"></option>

											</select>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="cargo" class="form-control js-select-single"
												aria-describedby="unidadeTrabalho" style="width: 100%;">
												<option value="-1">CARGO</option>
												<option value="-1">TODOS</option>
												<option th:each="cargo : ${cargos}" th:value="${cargo.id}"
													th:text="${cargo.nome}"></option>

											</select>
										</div>
									</div>

									<div class="col-lg-4">
										<div class="form-group mb-2">
											<select id="usuarioCodigoFuncional"
												class="form-control js-select-single"
												aria-describedby="usuarioCodigoFuncional"
												style="width: 100%;">
												<option value="-1">CÓDIGO FUNCIONAL</option>
												<option value="-1">TODOS</option>

											</select>
										</div>
									</div>

								</div>
							</form>
						</div>

						<div class="col-12 grid-margin"
							th:unless="${#lists.isEmpty(atuais)}">
							<a th:if="${usuario.podeCriar('usuarios')}"  class="btn btn-outline-success"
								th:href="@{/dashboard/admin/usuarios/novo/funcionario}">+
								Funcionário</a> <a th:if="${usuario.podeCriar('usuarios') or usuario.podeCriar('tudo')}" class="btn btn-outline-success"
								th:href="@{/dashboard/admin/usuarios/novo/outro}">+ Outro</a>
						</div>


						<div class="col-12 grid-margin"
							th:unless="${#lists.isEmpty(atuais)}" th:each="user : ${atuais}">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-lg-10">
											<a class="btn btn-outline-secondary pt-1 pb-1 border-0"
												data-toggle="modal"
												th:attr="data-target='#modal-' + ${user.id}"
												th:text="${user.nome}"></a>
										</div>
										<div class="col-lg-2">
											<a class="btn btn-outline-dark pt-1 pb-1"
												data-toggle="collapse" th:href="'#collapse-' + ${user.id}"
												role="button" aria-expanded="false"
												th:attr="aria-controls='collapse-' + ${user.id}"><i
												class="icon-options-vertical"></i></a>
										</div>
									</div>

									<div class="collapse" th:id="'collapse-' + ${user.id}">
										<div class="card card-body">
											<div class="row">
												<div class="col-lg-3">
													<p class="">
														CPF: <span class="text-muted"
															th:text="${user.dadosPessoais.cpf}"></span>
													</p>
												</div>

												<div class="col-lg-9">
													<p class="">
														unidade: <span class="text-muted"
															th:text="${user.codigoFuncional.unidadeTrabalho.nome} + ' - ' + ${user.codigoFuncional.unidadeTrabalho.departamento.identidade}"></span>
													</p>
												</div>

												<div class="col-lg-5">
													<p class="">
														email: <span class="text-muted" th:text="${user.email}"></span>
													</p>
												</div>

												<div class="col-lg-7">
													<p class="">
														cargo: <span class="text-muted"
															th:text="${user.codigoFuncional.cargo.nome}"></span>
													</p>
												</div>

												<div th:if="${usuario.podeAlterar('usuarios')}" class="col-lg-3">
													<a  class="btn btn-outline-dark"
														th:href="@{/dashboard/admin/usuarios/alterar/{id}(id=${user.id})}">Editar</a>
												</div>

												<div class="col-lg-3">
													<a class="btn btn-outline-dark" href="#"
														data-toggle="modal"
														th:attr="data-target='#modalTelefone-' + ${user.id}">Telefones</a>
												</div>

												<div th:if="${usuario.podeAlterar('permissoes')}" class="col-lg-3">
													<a class="btn btn-outline-dark" href="#" data-toggle="modal"
													th:attr="data-target='#modalAutorizacao-' + ${user.id}">Autorizações</a>
												</div>

												<div th:if="${usuario.podeAlterar('permissoes')}" class="col-lg-3">
													<a th:if="${user.isAdmin()}" class="btn btn-outline-dark" th:href="@{/dashboard/admin/usuarios/permissoes/{id}(id=${user.id})}" >Permissões</a>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- card table -->
						<div th:unless="${#lists.isEmpty(escolaridades)}" class="card">
							<div class="card-header">
								<a th:if="${usuario.podeCriar('escolaridade')}" class="btn btn-outline-success"
									th:href="@{/dashboard/admin/usuarios/escolaridades/novo}">Adicionar
									novo</a>
								<div th:if="${alert != null}">
									<div th:class="${alert}" role="alert">
										<i class="mdi mdi-alert-circle"></i> <span
											th:text="${message}"></span>
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<h4 class="card-title">Escolaridade</h4>
								<div class="row">
									<div class="col-12">
										<div class="table-responsive">
											<table id="order-listing-escolaridades" class="table">
												<thead>
													<tr>
														<th>Id</th>
														<th>Nome</th>
														<th th:if="${usuario.podeAlterar('escolaridade')}">::</th>
														<th th:if="${usuario.podeDeletar('escolaridade')}">::</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="escolaridade : ${escolaridades}">
														<td th:text="${escolaridade.id}"></td>
														<td th:text="${escolaridade.display}"></td>
														<td th:if="${usuario.podeAlterar('escolaridade')}"><a class="btn btn-outline-primary pt-1 pb-1"
															th:href="@{/dashboard/admin/usuarios/escolaridades/alterar/{id}(id=${escolaridade.id})}"><i
																class="icon-pencil"></i></a></td>
														<td th:if="${usuario.podeDeletar('escolaridade')}"><button class="btn btn-outline-danger pt-1 pb-1" type="button" th:onclick="'deletarEscolaridade(' + ${escolaridade.id} + ')'"><i class="icon-close"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card table -->

						<!-- card table -->
						<div th:unless="${#lists.isEmpty(opcoes)}" class="card">
							<div class="card-header">
								<a th:if="${usuario.podeCriar('opcoesSexuais')}" class="btn btn-outline-success"
									th:href="@{/dashboard/admin/usuarios/opcoes/novo}">Adicionar
									novo</a>
								<div th:if="${alert != null}">
									<div th:class="${alert}" role="alert">
										<i class="mdi mdi-alert-circle"></i> <span
											th:text="${message}"></span>
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
								</div>
							</div>
							<div class="card-body">
								<h4 class="card-title">Opções</h4>
								<div class="row">
									<div class="col-12">
										<div class="table-responsive">
											<table id="order-listing-opcoes" class="table">
												<thead>
													<tr>
														<th class="pr-5 pl-5">Id</th>
														<th class="pr-5 pl-5">Nome</th>
														<th th:if="${usuario.podeAlterar('opcoesSexuais') or usuario.podeAlterar('tudo')}">::</th>
														<th th:if="${usuario.podeDeletar('opcoesSexuais') or usuario.podeDeletar('tudo')}">::</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="sexo : ${opcoes}">
														<td class="pr-5 pl-5" th:text="${sexo.id}"></td>
														<td class="pr-5 pl-5" th:text="${sexo.display}"></td>
														<td th:if="${usuario.podeAlterar('opcoesSexuais')}"><a class="btn btn-outline-primary pt-1 pb-1"
															th:href="@{/dashboard/admin/usuarios/opcoes/alterar/{id}(id=${sexo.id})}"><i
																class="icon-pencil"></i></a></td>
														<td th:if="${usuario.podeDeletar('opcoesSexuais')}"><button class="btn btn-outline-danger pt-1 pb-1" type="button" th:onclick="'deletarOpcoes(' + ${sexo.id} + ')'"><i class="icon-close"></i></button></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end card table -->

						<!-- paginação inicio -->
						<div class="col-lg-12">

							<div class="pagination-area text-center"
								th:unless="${#lists.isEmpty(atuais)}">
								<ul class="pagination rounded"
									th:if="${atuais.totalPages} &gt; 1">

									<li class="page-item"><a
										th:href="@{/dashboard/admin/usuarios/atuais/pagina/{page}(page=0)}"
										th:class="${atuais.first} == true ? 'btn disabled' : 'page-link' "><i class="mdi mdi-chevron-left"></i></a></li>
									<li class="page-item" th:if="(${atuais.number} - 1) &gt; -1"><a
										class="page-link"
										th:href="@{/dashboard/admin/usuarios/atuais/pagina/{page}(page=${atuais.number} - 1)}"
										th:text="${atuais.number} - 1">&laquo;</a></li>

									<li th:if="${atuais.number} &lt; (${atuais.totalPages} - 1)"
										th:each="index : ${#numbers.sequence(atuais.number, atuais.number + 1)}"
										th:class="${index} == ${atuais.number} ? 'page-item active' : 'page-item'"><a
										class="page-link"
										th:href="@{/dashboard/admin/usuarios/atuais/pagina/{page}(page=${index})}"
										th:text="${index}">&laquo;</a></li>

									<li class="page-item"><a
										th:href="@{/dashboard/admin/usuarios/atuais/pagina/{page}(page=${atuais.totalPages} - 1)}"
										th:class="${atuais.last} == true ? 'btn disabled' : 'page-link' "><i
											class="mdi mdi-chevron-right"></i></a></li>
								</ul>
							</div>

						</div>
						<!-- paginação final -->

					</div>
					<!-- end row justify-content -->
				</div>
				<!-- end content-wrapper -->

				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- end row-offcanvas -->
		</div>
		<!-- end container-fluid  -->

	</div>
	<!-- end container-scroller -->

	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/jquery.dataTables.js}"></script>
	<script async="async" th:src="@{~/js/dataTables.bootstrap4.js}"></script>
	<script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{~/js/select2.min.js}"></script>
	<script th:src="@{~/js/jquery.inputmask.bundle.js}"></script>
	<script th:src="@{~/js/sweetalert2.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>
	<!--<script  th:src="@{~/js/datatable-init.js}"></script> -->

	<script th:unless="${#lists.isEmpty(atuais)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{

		usuariosDto();

		$(".telefoneUsuario").inputmask("(99) 99999-9999");

		$('#usuarioNome').on('change', alterarNome);	
		$('#usuarioCpf').on('change', alterarCpf);	
		$('#usuarioEmail').on('change', alterarEmail);	
		$('#usuarioCodigoFuncional').on('change', alterarCodigo);
		$('#unidadeTrabalho').on('change', alterarUnidade);
		$('#cargo').on('change', alterarCargo);	
	});

	function usuariosDto(){

					$.ajax({
		                  url: `/dashboard/admin/usuarios/dto`,
		                  type: "GET", 

		              success: (result,status,xhr) => {
		                                                  
		                                                  result.forEach(preencherSelect);
		                                              }, 
		              error: () => {
		              
		              	console.log("error");

		              }
		      		});
		}


	function preencherSelect(value, index, array){

			var optionNome = document.createElement("option");
			optionNome.text = value.nome;
			optionNome.value = value.id;
			$('#usuarioNome').append(optionNome);

			var optionCpf = document.createElement("option");
			optionCpf.text = value.cpf;
			optionCpf.value = value.id;
			$('#usuarioCpf').append(optionCpf);

			var optionEmail = document.createElement("option");
			optionEmail.text = value.email;
			optionEmail.value = value.id;
			$('#usuarioEmail').append(optionEmail);

			if(value.codigo !== 'nf'){
				var optionCodigo = document.createElement("option");
				optionCodigo.text = value.codigo;
				optionCodigo.value = value.id;
				$('#usuarioCodigoFuncional').append(optionCodigo);
			}
		}

		function alterarNome(){
			var id = $('#usuarioNome').val();
			enviarRequisicao(id);
		}

		function alterarCpf(){
			var id = $('#usuarioCpf').val();
			enviarRequisicao(id);
		}

		function alterarEmail(){
			var id = $('#usuarioEmail').val();
			enviarRequisicao(id);
		}

		function alterarCodigo(){
			var id = $('#usuarioCodigoFuncional').val();
			enviarRequisicao(id);
		}

		function alterarUnidade(){
			var id = $('#unidadeTrabalho').val();
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/usuarios/atuais/unidades/${id}`;
			}else{
				window.location.href = `/dashboard/admin/usuarios/atuais`;
			}
		}

		function alterarCargo(){
			var id = $('#cargo').val();
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/usuarios/atuais/cargos/${id}`;
			}else{
				window.location.href = `/dashboard/admin/usuarios/atuais`;
			}
		}

		function enviarRequisicao(id){
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/usuarios/atuais/${id}`;
			}else{
				window.location.href = `/dashboard/admin/usuarios/atuais`;
			}
		}
	/*]]>*/
	</script>

	<script th:unless="${#lists.isEmpty(atuais)}" th:inline="javascript"
		th:each="user : ${atuais}">
	/*<![CDATA[*/
	$(()=>{
		 $('#datepicker-popup-[[${user.id}]]').datepicker({
		      format: 'dd/mm/yyyy',
		        language: 'pt-BR',
		        defaultViewDate: { year: 1960, month: 0, day: 1 }
		      });

		  $('#datepicker-popup-[[${user.id}]]').on('changeDate', function() {
	        //console.log($('#datepicker').val());
	        $('#nascimento-[[${user.id}]]').val($('#datepicker-[[${user.id}]]').val());
	      });

      updateData[[${user.id}]]();

		});

		function updateData[[${user.id}]](){
	      if($('#nascimento-[[${user.id}]]').val() != ''){
	        //console.log('nascimento foi executado');
	        $('#datepicker-popup-[[${user.id}]]').datepicker('update', $('#nascimento-[[${user.id}]]').val());
	      }
	    }
	/*]]>*/
	</script>

	<script th:unless="${#lists.isEmpty(opcoes)}" th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		$('#order-listing-opcoes').DataTable();
	});

	function deletarOpcoes(id){
	          
	            swal({
	              title: 'Deletar a opção',
	              text: "Essa ação somente é possível se não existirem usuários cadastrados com essa opção. Se existem eventos online ou presenciais com essa opção selecionada nas permissões do perfil do público alvo, essa ação também não será executada.",
	              type: 'warning',
	              showCancelButton: true,
	              confirmButtonColor: '#3085d6',
	              cancelButtonColor: '#d33',
	              cancelButtonText: 'Cancelar',
	              confirmButtonText: 'Continuar'
	            }).then(function () {
	              window.location.href = `/dashboard/admin/usuarios/opcoes/deletar/${id}`	
	          }).catch(swal.noop);
	  }   
	/*]]>*/
	</script>

	<script th:unless="${#lists.isEmpty(escolaridades)}"
		th:inline="javascript">
	/*<![CDATA[*/
	$(()=>{
		$('#order-listing-escolaridades').DataTable();
	});

	function deletarEscolaridade(id){
	          
	            swal({
	              title: 'Deletar a opção',
	              text: "Essa ação somente é possível se não existirem usuários cadastrados com essa opção.",
	              type: 'warning',
	              showCancelButton: true,
	              confirmButtonColor: '#3085d6',
	              cancelButtonColor: '#d33',
	              cancelButtonText: 'Cancelar',
	              confirmButtonText: 'Continuar'
	            }).then(function () {
	              window.location.href = `/dashboard/admin/usuarios/escolaridades/deletar/${id}`	
	          }).catch(swal.noop);
	  }   
	/*]]>*/
	</script>

	<script th:inline="javascript">

	/*<![CDATA[*/
	(function($) {
		  'use strict';

		  if($(".js-select-single").length){
		    $(".js-select-single").select2();
		  }
	})(jQuery);
	/*]]>*/
	</script>

</body>

</html>
