<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/head :: head(~{::title},~{::link})">
<title>ZEUS | Usuários</title>
<link rel="stylesheet" th:href="@{~/css/bootstrap-datepicker.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2.min.css}" />
<link rel="stylesheet" th:href="@{~/css/select2-bootstrap.min.css}" />
</head>

<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->

		<!-- navbar -->
		<nav th:replace="fragments/navbar :: navbar-principal"></nav>
		<!-- end navbar -->

		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<div class="row row-offcanvas row-offcanvas-right">
				<!-- partial:../../partials/_settings-panel.html -->

				<!-- sidebar sidebar-offcanvas -->
				<nav th:replace="fragments/sidebar :: sidebar-principal"></nav>
				<!-- end sidebar sidebar-offcanvas -->

				<!-- content-wrapper -->
				<div class="content-wrapper">
					<!-- row -->
					<div class="row">

						<!-- div 1 -->
						<div class="col-lg-12 d-flex align-items-stretch grid-margin">
							<!-- row -->
							<div class="row flex-grow">

								<div class="col-12 grid-margin">
									<form class="forms-sample">

										<div class="row">
											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="usuarioNome" class="form-control js-select-single"
														aria-describedby="usuarioNome" style="width: 100%;">
														<option value="-1">NOME</option>
														<option value="-1">TODOS</option>
														
													</select>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="usuarioEmail" class="form-control js-select-single"
														aria-describedby="usuarioEmail" style="width: 100%;">
														<option value="-1">EMAIL</option>
														<option value="-1">TODOS</option>
														
													</select>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="usuarioCpf" class="form-control js-select-single"
														aria-describedby="usuarioCpf" style="width: 100%;">
														<option value="-1">CPF</option>
														<option value="-1">TODOS</option>
														
													</select>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="unidadeTrabalho" class="form-control js-select-single"
														aria-describedby="unidadeTrabalho" style="width: 100%;">
														<option value="-1">UNIDADE TRABALHO</option>
														<option value="-1">TODOS</option>
														<option th:each="unidade : ${unidades}"
																th:value="${unidade.id}" 
																th:text="${unidade.nome}"></option>
														
													</select>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="cargo" class="form-control js-select-single"
														aria-describedby="unidadeTrabalho" style="width: 100%;">
														<option value="-1">CARGO</option>
														<option value="-1">TODOS</option>
														<option th:each="cargo : ${cargos}"
																th:value="${cargo.id}" 
																th:text="${cargo.nome}"></option>
														
													</select>
												</div>
											</div>

											<div class="col-lg-4">
												<div class="form-group mb-2">
													<select
														id="usuarioCodigoFuncional" class="form-control js-select-single"
														aria-describedby="usuarioCodigoFuncional" style="width: 100%;">
														<option value="-1">CÓDIGO FUNCIONAL</option>
														<option value="-1">TODOS</option>
														
													</select>
												</div>
											</div>

										</div>
									</form>
								</div>

								<div class="col-12 grid-margin" th:if="${alert != null}">
									<div th:if="${alert != null}">
										<div th:class="${alert}" role="alert">
											<i class="mdi mdi-alert-circle"></i> <span
												th:text="${message}"></span>
											<button type="button" class="close" data-dismiss="alert"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
									</div>
								</div>

								<div class="col-12 grid-margin"
									th:unless="${#lists.isEmpty(usuarios)}"
									th:each="usuario : ${usuarios}">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<div class="col-lg-10">
													<a
														th:href="@{/dashboard/admin/relatorios/inscricoes/usuario/detalhes/{id}(id=${usuario.id})}"
														th:text="${usuario.nome}"></a>
												</div>
												<div class="col-lg-2">
													<a class="btn btn-outline-dark pt-1 pb-1"
														data-toggle="collapse"
														th:href="'#collapse-' + ${usuario.id}" role="button"
														aria-expanded="false"
														th:attr="aria-controls='collapse-' + ${usuario.id}"><i
														class="icon-options-vertical"></i></a>
												</div>
											</div>

											<div class="collapse" th:id="'collapse-' + ${usuario.id}">
												<div class="card card-body">
													<div class="row">
														<div class="col-lg-3">
															<p class="">
																CPF: <span class="text-muted"
																	th:text="${usuario.dadosPessoais.cpf}"></span>
															</p>
														</div>

														<div class="col-lg-9">
															<p class="">
																unidade: <span class="text-muted"
																	th:text="${usuario.codigoFuncional.unidadeTrabalho.nome} + ' - ' + ${usuario.codigoFuncional.unidadeTrabalho.departamento.identidade}"></span>
															</p>
														</div>

														<div class="col-lg-5">
															<p class="">
																email: <span class="text-muted"
																	th:text="${usuario.email}"></span>
															</p>
														</div>

														<div class="col-lg-7">
															<p class="">
																cargo: <span class="text-muted"
																	th:text="${usuario.codigoFuncional.cargo.nome}"></span>
															</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- end row -->
						</div>
						<!-- end div 1 -->

						<!-- paginação inicio -->
						<div class="col-lg-12">

							<div class="pagination-area text-center"
								th:unless="${#lists.isEmpty(usuarios)}">
								<ul class="pagination rounded"
									th:if="${usuarios.totalPages} &gt; 1">

									<li class="page-item"><a
										th:href="@{/dashboard/admin/relatorios/inscricoes/usuario/pagina/{page}(page=0)}"
										th:class="${usuarios.first} == true ? 'btn disabled' : 'page-link' "><i
											class="mdi mdi-chevron-left"></i></a></li>
									<li class="page-item" th:if="(${usuarios.number} - 1) &gt; -1"><a
										class="page-link"
										th:href="@{/dashboard/admin/relatorios/inscricoes/usuario/pagina/{page}(page=${usuarios.number} - 1)}"
										th:text="${usuarios.number} - 1">&laquo;</a></li>

									<li th:if="${usuarios.number} &lt; (${usuarios.totalPages} - 1)"
										th:each="index : ${#numbers.sequence(usuarios.number, usuarios.number + 1)}"
										th:class="${index} == ${eventos.number} ? 'page-item active' : 'page-item'"><a
										class="page-link"
										th:href="@{/dashboard/admin/relatorios/inscricoes/usuarios/pagina/{page}(page=${index})}"
										th:text="${index}">&laquo;</a></li>

									<li class="page-item"><a
										th:href="@{/dashboard/admin/relatorios/inscricoes/usuarios/pagina/{page}(page=${usuarios.totalPages} - 1)}"
										th:class="${usuarios.last} == true ? 'btn disabled' : 'page-link' "><i
											class="mdi mdi-chevron-right"></i></a></li>
								</ul>
							</div>

						</div>
						<!-- paginação final -->

					</div>
					<!-- end row -->
				</div>
				<!-- end content-wrapper -->
				<!-- footer -->
				<footer th:replace="fragments/footer :: footer"></footer>
				<!-- end footer -->
			</div>
			<!-- row-offcanvas ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<span th:replace="fragments/base-script :: base"></span>
	<script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{~/js/select2.min.js}"></script>
	<script th:src="@{~/js/sweetalert2.min.js}"></script>
	<span th:replace="fragments/base-script :: plugins"></span>

	<script th:inline="javascript">

	/*<![CDATA[*/
	$(() =>{

		usuariosDto();

		$('#usuarioNome').on('change', alterarNome);	
		$('#usuarioCpf').on('change', alterarCpf);	
		$('#usuarioEmail').on('change', alterarEmail);	
		$('#usuarioCodigoFuncional').on('change', alterarCodigo);
		$('#unidadeTrabalho').on('change', alterarUnidade);
		$('#cargo').on('change', alterarCargo);	
	});

	function usuariosDto(){

					$.ajax({
		                  url: `/dashboard/admin/usuarios/dto`,
		                  type: "GET", 

		              success: (result,status,xhr) => {
		                                                  
		                                                  result.forEach(preencherSelect);
		                                              }, 
		              error: () => {
		              
		              	console.log("error");

		              }
		      		});
		}

		function preencherSelect(value, index, array){

			var optionNome = document.createElement("option");
			optionNome.text = value.nome;
			optionNome.value = value.id;
			$('#usuarioNome').append(optionNome);

			var optionCpf = document.createElement("option");
			optionCpf.text = value.cpf;
			optionCpf.value = value.id;
			$('#usuarioCpf').append(optionCpf);

			var optionEmail = document.createElement("option");
			optionEmail.text = value.email;
			optionEmail.value = value.id;
			$('#usuarioEmail').append(optionEmail);

			if(value.codigo !== 'nf'){
				var optionCodigo = document.createElement("option");
				optionCodigo.text = value.codigo;
				optionCodigo.value = value.id;
				$('#usuarioCodigoFuncional').append(optionCodigo);
			}
		}

		function alterarNome(){
			var id = $('#usuarioNome').val();
			enviarRequisicao(id);
		}

		function alterarCpf(){
			var id = $('#usuarioCpf').val();
			enviarRequisicao(id);
		}

		function alterarEmail(){
			var id = $('#usuarioEmail').val();
			enviarRequisicao(id);
		}

		function alterarCodigo(){
			var id = $('#usuarioCodigoFuncional').val();
			enviarRequisicao(id);
		}

		function alterarUnidade(){
			var id = $('#unidadeTrabalho').val();
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios/unidades/${id}`;
			}else{
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios`;
			}
		}

		function alterarCargo(){
			var id = $('#cargo').val();
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios/cargos/${id}`;
			}else{
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios`;
			}
		}

		function enviarRequisicao(id){
			if(id !== '-1'){
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios/${id}`;
			}else{
				window.location.href = `/dashboard/admin/relatorios/inscricoes/usuarios`;
			}
		}
	/*]]>*/
	</script>

	<script th:inline="javascript">

	/*<![CDATA[*/
		(function($) {
			  'use strict';

			  if($(".js-select-single").length){
			    $(".js-select-single").select2();
			  }
		})(jQuery);
	/*]]>*/
	</script>

</body>

</html>
