<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >

<head th:fragment="head(title, links)">
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	<title th:replace=${title}>ZEUS</title>

	<link rel="preconnect" th:href="@{~/fonts/materialdesignicons-webfont.woff2?v=2.0.46}" />	
	<link rel="preconnect" th:href="@{~/fonts/Simple-Line-Icons.woff2?v=2.4.0}" />

	<!-- plugins:css -->
	<link rel="preload" as="style" th:href="@{~/css/materialdesignicons.min.css}" onload="this.rel='stylesheet'" />
	<link rel="preload" as="style" th:href="@{~/css/simple-line-icons.css}" onload="this.rel='stylesheet'" />
	<link rel="preload" as="style" th:href="@{~/css/flag-icon.min.css}" onload="this.rel='stylesheet'" />
	<link rel="preload" as="style" th:href="@{~/css/perfect-scrollbar.min.css}" onload="this.rel='stylesheet'" />
	<!-- <link rel="preload" as="style" href="resto.css" onload="this.rel='stylesheet'"> -->
	<!-- endinject -->

	<link rel="preload" th:href="@{~/fonts/Roboto/Roboto-Bold.ttf}" as="font" type="font/ttf" />
	<link rel="preload" th:href="@{~/fonts/Roboto/Roboto-Regular.ttf}" as="font" type="font/ttf" />
	<link rel="preload" th:href="@{~/fonts/Roboto/Roboto-Light.ttf}" as="font" type="font/ttf" />
	<link rel="preload" th:href="@{~/fonts/Roboto/Roboto-Medium.ttf}" as="font" type="font/ttf" />

	
	<!-- plugin css for this page -->
	<th:block th:replace="${links}" />
	<!-- End plugin css for this page -->

	<!-- inject:css -->
	<link rel="stylesheet" th:href="@{~/css/style.min.css}" />
	<!-- endinject -->

	<link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>

</html>

