<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" >


<!-- credenciais do usuario -->	
<li th:fragment="credenciais" class="nav-item nav-profile">
		<div class="nav-link">
			<div class="profile-image">
				<a th:href="@{/dashboard/}"><img th:if="${usuario.imagens == null}" src="http://via.placeholder.com/100x100/f4f4f4/000000" alt="image"/></a>
        <a th:href="@{/dashboard/}"><img th:if="${usuario.imagens != null}" th:src="@{/dashboard/usuario/avatar.png}" alt="image"/></a>
				<span class="online-status online"></span> <!--change class online to offline or busy as needed-->
			</div>
			<div class="profile-name">
				<p class="name">
					<span th:text="${usuario.nome}"></span>
				</p>
				<p class="designation" th:text="${usuario.status}">Administrador</p>
				<a class="btn btn-info" th:href="@{/logout}">Deslogar</a>
			</div>
		</div>
</li>

<!-- sidebar com menu principal -->
<nav th:fragment="sidebar-principal" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/usuario/perfil}">
                <i class="icon-shield menu-icon"></i>
                <span class="menu-title">Perfil</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-presencial" aria-expanded="false" aria-controls="page-presencial">
                <i class="icon-check menu-icon"></i>
                <span class="menu-title">Eventos presenciais</span>
                <span class="badge badge-danger">3</span>
              </a>
              <div class="collapse" id="page-presencial">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/eventos/presenciais}">Publicados</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/minhas/inscricoes/presenciais}">Minhas inscrições</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/eventos/presenciais/progresso}">Acompanhe</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-online" aria-expanded="false" aria-controls="page-online">
                <i class="icon-globe menu-icon"></i>
                <span class="menu-title">Eventos online</span>
                <span class="badge badge-info">2</span>
              </a>
              <div class="collapse" id="page-online">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/eventos/online}">Publicados</a></li>
                  <li class="nav-item"> <a class="nav-link" th:href="@{/dashboard/usuario/eventos/online/progresso}">Acompanhe</a></li>
                </ul>
              </div>
            </li>

             <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto() and (usuario.podeVisualizar('eventosOnline') or usuario.podeVisualizar('eventosPresenciais') or usuario.podeVisualizar('categorias') or usuario.podeVisualizar('tudo'))}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-badge menu-icon"></i>
                <span class="menu-title">+ Eventos</span>
                <span id="count-sub-menu-eventos" class="badge badge-success">3</span>
              </a>
              <div class="collapse" id="ui-basic">
                <ul id="sub-menu-eventos" class="nav flex-column sub-menu">
                  <li th:if="${usuario.podeVisualizar('eventosPresenciais') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/presencial}">Eventos presenciais</a></li>
                  <li th:if="${usuario.podeVisualizar('eventosOnline') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/online}">Eventos online</a></li>
                  <li th:if="${usuario.podeVisualizar('categorias') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/eventos/presencial/categorias}">Categorias</a></li>
                </ul>
              </div>
            </li>
            
             <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto() and (usuario.podeVisualizar('usuarios') or usuario.podeVisualizar('opcoesSexuais') or usuario.podeVisualizar('escolaridade') or usuario.podeVisualizar('tudo'))}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#general-pages" aria-expanded="false" aria-controls="general-pages">
                <i class="icon-user menu-icon"></i>
                <span class="menu-title">+ Usuários</span>
                <span id="count-sub-menu-usuarios" class="badge badge-warning">3</span>
              </a>
              <div class="collapse" id="general-pages">
                <ul id="sub-menu-usuarios" class="nav flex-column sub-menu">
                  <li th:if="${usuario.podeVisualizar('usuarios') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/atuais}">Usuários </a></li>
                  <li th:if="${usuario.podeVisualizar('opcoesSexuais') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/opcoes}"> Opções sexuais</a></li>
                  <li th:if="${usuario.podeVisualizar('escolaridade') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/usuarios/escolaridades}">Escolaridade</a></li>
                </ul>
              </div>
            </li>
           
            <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto() and (usuario.podeVisualizar('unidades') or usuario.podeVisualizar('departamentos') or usuario.podeVisualizar('cargos') or usuario.podeVisualizar('tudo'))}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#e-commerce" aria-expanded="false" aria-controls="e-commerce">
                <i class="icon-briefcase menu-icon"></i>
                <span class="menu-title">+ Locais</span>
                <span id="count-sub-menu-locais" class="badge badge-info">3</span>
              </a>
              <div class="collapse" id="e-commerce">
                <ul id="sub-menu-locais" class="nav flex-column sub-menu">
                  <li th:if="${usuario.podeVisualizar('unidades') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/locais/unidades}">Unidades de trabalho</a></li>
                  <li th:if="${usuario.podeVisualizar('departamentos') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/locais/departamentos}">Departamentos</a></li>
                  <li th:if="${usuario.podeVisualizar('cargos') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/locais/cargos}">Cargos</a></li>
                </ul>
              </div>
            </li>

            <li sec:authorize="hasRole('ROLE_Administrador')" th:if="${usuario.isPerfilCompleto() and (usuario.podeVisualizar('relatoriosOnline') or usuario.podeVisualizar('relatoriosPresenciais') or usuario.podeVisualizar('relatoriosUsuarios') or usuario.podeVisualizar('tudo'))}" class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#ui-relatorios" aria-expanded="false" aria-controls="ui-relatorios">
                <i class="icon-pie-chart menu-icon"></i>
                <span class="menu-title">+ Relatórios</span>
                <span id="count-sub-menu-relatorios" class="badge badge-success">3</span>
              </a>
              <div class="collapse" id="ui-relatorios">
                <ul id="sub-menu-relatorios" class="nav flex-column sub-menu">
                  <li th:if="${usuario.podeVisualizar('relatoriosPresenciais') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/relatorios/inscricoes/presenciais}">Inscricoes presenciais</a></li>
                  <li th:if="${usuario.podeVisualizar('relatoriosOnline') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/relatorios/inscricoes/online}">Inscricoes online</a></li>
                  <li th:if="${usuario.podeVisualizar('relatoriosUsuarios') or usuario.podeVisualizar('tudo')}" class="nav-item"> <a class="nav-link" th:href="@{/dashboard/admin/relatorios/inscricoes/usuarios}">Inscricoes usuários</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/usuario/notificacoes}">
                <i class="icon-bell menu-icon"></i>
                <span class="menu-title">Notificações</span>
              </a>
            </li>

             <li class="nav-item">
              <a class="nav-link" th:href="@{/dashboard/usuario/mensagens}">
                <i class="icon-envelope menu-icon"></i>
                <span class="menu-title">Mensagens</span>
              </a>
            </li>
          </ul>
</nav>

<!-- sidebar para evento online admin -->
<nav th:fragment="sidebar-modulo-online-admin" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>

             <div class="nav-link pt-2 pb-2 border-top">
              <small class="text-success font-weight-bold" th:text="${evento.titulo}"></small>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-white">MÓDULO-<span th:text="${modulo.posicao}"></span></p>
              <p class="text-muted font-weight-bold" th:text="${modulo.titulo}"></p>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">ATIVIDADES:</p>
            </div>

            <li class="nav-item" th:each="ativ : ${modulo.atividades}">
              <a class="nav-link" th:href="@{/dashboard/admin/eventos/online/modulos/{id}/atividade/{posicao}(id=${modulo.id},posicao=${ativ.posicao})}">
                <i class="icon-fire menu-icon text-white"></i>
                Atividade-<span class="menu-title" th:text="${ativ.posicao}"></span>
              </a>
              <p class="text-muted font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>
            </li>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">MÓDULOS:</p>
              <select id="select-modulos" class="form-control">
                <option th:each="modu : ${evento.modulos}"
                        th:text="${modu.titulo}"
                        th:value="${modu.id}"
                        th:selected="${modu.id == modulo.id}"></option>
              </select>
            </div>
           
          </ul>
</nav>

<!-- sidebar para evento online -->
<nav th:fragment="sidebar-modulo-online" class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li th:replace="fragments/sidebar :: credenciais"></li>

             <div class="nav-link pt-2 pb-2 border-top">
              <small th:unless="${evento.getInscricao(usuario).isFinalizado()}" class="text-muted font-weight-bold" th:text="${evento.titulo}"></small>
              <small th:if="${evento.getInscricao(usuario).isFinalizado()}" class="text-success font-weight-bold" th:text="${evento.titulo}"></small>
              <div class="progress progress-sm" th:with="progresso=${evento.progresso(usuario)}">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" th:style="'width:' + ${progresso} +'%;'" th:attr="aria-valuenow='+ ${progresso} +'" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-white">MÓDULO-<span th:text="${modulo.posicao}"></span></p>
              <p class="text-muted font-weight-bold" th:text="${modulo.titulo}"></p>
            </div>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">ATIVIDADES:</p>
            </div>

            <li class="nav-item" th:each="ativ : ${modulo.atividades}">
              <a class="nav-link" th:href="@{/dashboard/eventos/online/modulos/{id}/atividade/{posicao}(id=${modulo.id},posicao=${ativ.posicao})}">
                <i class="icon-fire menu-icon text-white"></i>
                Atividade-<span class="menu-title" th:text="${ativ.posicao}"></span>
              </a>
              <p th:if="${evento.getInscricao(usuario).realizou(ativ)}" class="text-success font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>

               <p th:unless="${evento.getInscricao(usuario).realizou(ativ)}" class="text-muted font-weight-bold ml-5 mr-1" th:text="${ativ.titulo}"></p>
            </li>

            <div class="nav-link pt-4 pb-2 border-top">
              <p class="font-weight-bold text-muted">MÓDULOS:</p>
              <select id="select-modulos" class="form-control">
                <option th:each="modu : ${evento.modulos}"
                        th:text="${modu.titulo}"
                        th:value="${modu.id}"
                        th:selected="${modu.id == modulo.id}"></option>
              </select>
            </div>

            <li class="nav-item border-top">
              <a class="nav-link" th:href="@{/dashboard/eventos/online}">
                <i class="icon-badge menu-icon text-white"></i> <span class="menu-title">Trocar de evento</span>
              </a>
            </li>
           
          </ul>
</nav>

</html>